<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="UTF-8">
    <title>Expense tracker</title>
    <link rel="icon" href="images/homepageImage.png" type="image/x-icon">
    
    <link rel="stylesheet" href="css/forgetpassword.css">    
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
    <link rel="icon" href="images/logo.jpg" type="image/x-icon">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
  </head>
  <body>
    <div class="container">
      <div class="wrapper">
        <div class="title"><span>Forget Password</span></div>
        <form id="forget-password-form" action="#">
          <div class="pass"><p>Enter your email address to reset your password</p></div>
          <div class="row">
            <i class="fas fa-user"></i>
            <input id="forget-password-email" type="text" placeholder="Email" required>
          </div>
          <div class="row button">
            <input type="submit" value="Send Link">
          </div>
        </form>
      </div>
    </div>
    <script type="module" src="js/script.js"></script>
    <script type="module" src="js/forgetPassword.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.19.0/axios.min.js"></script>
  </body>
</html>