<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Expense manager</title>

    <link rel="icon" src="images/EXPENSE MANAGER.jpg" type="image/x-icon">
    <link rel="stylesheet" href="css/styles.css">
</head>
<body>
    <div class="container">
        <nav class="nav-container">
            <img src="images/EXPENSE MANAGER.jpg" alt="Company-Logo">
            <h1>WELCOME TO EXPENSE MANAGER</h1>         
        </nav>

        <div class="inner-container">
            <div class="information-inn-container">
                <h3>
                    Control your expenses better than your competition. ...
                </h3>
            </div>
            <div class="image-inn-container">
                <img src="images/home-page-image.png" alt="home-page-image">
            </div>

            <div class = "menu-inn-container">
                <a href="/loginPage" class="login" id="login">Login</a>
                <a href="/signupPage" class="signup" id="signup">SignUp</a>
            </div>

        </div>

        <footer class="footer-container">
            <p>&copy; 2023 Damini PvtLtd. All rights reserved</p>
        </footer>
    </div> 
    <script type="module" src="js/home.js"></script>
</body>
</html>