body {
    margin: 0px;
}
.container{
    display: flex;
    flex-direction: column;
    margin-left: 20%;
    margin-right: 20%;
    height: 100vh;
    border-left: 2px solid #f4f7f8; /* Border color for the left side */
    border-right: 2px solid #f4f7f8; 
    /* border: 2px solid #f4f7f8;  */
    box-shadow: 0 0 10px #F2EAD3;
}

/* navigation bar */

.nav-container{
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 10px;
    background-color: #EEF5FF;
}

.nav-container img {
    max-height: 100px;     
    margin-right: 10%;
}

/* main contents bar */

.inner-container{
    display: flex;
    flex-direction: column;
}

.information-inn-container{
    flex: 1;
    align-items: center;

}

.information-inn-container h3{
   margin-top: 25px;
   margin-left: 25%;
   margin-bottom: 0px;
}

.image-inn-container {
    flex: 1;
}

.image-inn-container img {
    max-width: 100%; 
    height: auto;
}

.menu-inn-container{
    display: flex;
    flex-direction: row;
    align-self: center;
}
.menu-inn-container h1{
    padding-left: 25px;
    padding-right: 25px;
    margin: 0px;
    margin-bottom: 20px;
}
/* Popup container - hidden by default */
.form-popup {
    display: none;
    position: fixed;
    top: 50%; /* Center vertically */
    left: 50%; /* Center horizontally */
    transform: translate(-50%, -50%); /* Adjust position to the exact center */
    border: 3px solid #f1f1f1;
    z-index: 9;
    border-radius: 5px; /* Optional: for rounded corners */
  }
  
  /* Add styles to the form container */
  .form-container {
    max-width: 300px;
    padding: 20px;
    background-color: white;
  }
  
  /* Full-width input fields */
  .form-container input[type=text] {
    width: 100%;
    padding: 15px;
    margin: 5px 0 15px 0;
    border: none;
    background: #f1f1f1;
  }
  
  /* Set a style for the submit button */
  .form-container .btn {
    background-color: #4CAF50;
    color: white;
    padding: 16px 20px;
    border: none;
    cursor: pointer;
    width: 100%;
    margin-bottom:10px;
  }
  
  /* Add a red background color to the cancel button */
  .form-container .cancel {
    background-color: red;
  }
  
  /* Add some hover effects to buttons */
  .form-container .btn:hover, .open-button:hover {
    opacity: 1;
  }
  

/* footer */

.footer-container {
    text-align: center;
    margin-top: auto;
    background-color: #EEF5FF;
}

.information-form-container{
    flex-direction: column;
}